*{

	background: #faac58;

}

p[name="titulo"]{
	font-style:italic;
	font-size: 90px;
	color:blue;
	display: block;
	width: 1000px;
	margin: 50px auto;
	padding: 15xp ;
	text-align: center;
	border: 1px solid #ffffff;
	background: #99FF55;


	border-radius:  40px / 20px;

	background: -webkit-radial-gradient(bottom,circle,  #708090 50%, #00ff00 20%);
	background: -moz-radial-gradient(bottom,circle, #708090 50%, #00ff00 20%);
}
	
